body {
  background-color: #f8f9fa !important;
  color: #5a5a5a;
}

h5 {
  margin-bottom: 15px;
}

.blue {
  background-color: #303c6c;
}

.justify {
  text-align: justify;
}

.text-center {
  text-align: center !important;
  vertical-align: middle !important;
}

.table th,
.table td {
  vertical-align: middle;
  padding: 0.4rem;
}

th.col,
th.col-2,
th.col-3,
th.col-5 {
  width: 0;
}

.travelSummary {
  margin-left: 3rem;
  font-size: 1rem;
  font-weight: 500;
}

.button-small-screen {
  background-image: url("../components/img/search.svg");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: center;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.validFrom {
  padding-right: 10px;
  padding-left: 40px;
  background-image: url("../components/img/from.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: left center;
}

input.validTo {
  padding-right: 10px;
  padding-left: 40px;
  background-image: url("../components/img/to.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: left center;
}

input.validCalendar {
  padding-right: 5px;
  padding-left: 35px;
  text-align: center;
  background-image: url("../components/img/calendar.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: left center;
}

input.validClock {
  padding-right: 5px;
  padding-left: 35px;
  text-align: center;
  background-image: url("../components/img/clock.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: left center;
}

input.validTime {
  padding-right: 5px;
  padding-left: 35px;
  text-align: center;
  background-image: url("../components/img/time.png");
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: left center;
}

.grey {
  color: black;
}

tbody.collapse.in {
  display: table-row-group;
}

.clickable td {
  cursor: pointer;
}

.buyTicked {
  background-color: #dc3545;
  color: white;
}

.marginTop {
  margin-top: 13rem;
}

.display-none {
  margin-top: -5rem;
}

.foto-header {
  height: 65vh;
  background-image: url("../components/img/train4-1000.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 801px) {
  .marginTop {
    margin-top: 11.5rem;
  }

  .form-control-lg {
    font-size: 1rem;
    line-height: 1;
  }

  .col {
    padding-right: 8px;
    padding-left: 8px;
  }

  .button-small-screen {
    background-size: 23px 23px;
  }
}

@media (max-width: 602px) {
  .marginTop {
    margin-top: 10rem;
  }

  .col {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 8px;
    padding-left: 8px;
  }

  input.validTime {
    padding-left: 40px;
  }

  .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 40px;
  }
  .col-3:last-child {
    padding-left: 37px;
  }
}

@media (max-width: 415px) {
  .col-3 {
    padding-right: 15px;
    padding-left: 20px;
  }
  .col-3:last-child {
    padding-left: 17px;
  }
}

@media (max-width: 376px) {
  .marginTop {
    margin-top: 11rem;
  }
  .col-3 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-3:last-child {
    padding-left: 12px;
  }

  .navbar-brand {
    margin-right: 1rem;
    font-size: 1.1rem;
  }
  .travelSummary {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width: 361px) {
  .col-3 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-3:last-child {
    padding-left: 1px;
  }
  input.validTime {
    padding-left: 35px;
  }
}
