body {
    background-color: #f8f9fa !important;
    color: #5a5a5a;
}

.blue {
    background-color: #303C6C
}

.justify {
    text-align: justify
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.marginTop {
    margin-top: 10rem
}



input.validFrom {
    padding-right: 10px;
    padding-left: 40px;
    background-image: url('./img/from.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left center;
}

input.validTo {
    padding-right: 10px;
    padding-left: 40px;
    background-image: url('./img/to.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left center;
}

input.validCalendar {
    padding-right: 5px;
    padding-left: 35px;
    text-align: center;
    background-image: url('./img/calendar.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left center;
}

input.validClock {
    padding-right: 5px;
    padding-left: 35px;
    text-align: center;
    background-image: url('./img/clock.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left center;
}

input.validTime {
    padding-right: 5px;
    padding-left: 35px;
    text-align: center;
    background-image: url('./img/time.png');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: left center;
}

.grey {
    color: black
}